<div id="pagina" class="row">
    <div class="col-sm-12">
        <div id="margen" class="row">
            <div class="col-sm-8">


                <h5 id="resum">Oferta publicada el {{oferta.fechaPubli }}</h5>
                <h2><b>{{oferta.nombre}}</b></h2>

                <a class="backlink hidden-xs" href="/lista-de-ofertas">←</a>
                <a id="anchor" target="_blank" href="{{oferta.web}}">
                    <h4><b>{{oferta.empresa}}</b></h4>
                </a>
                <h5 id="resum"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{oferta.ciudad}}</h5>
                <h5 id="resum"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{oferta.tipoDeOferta}}</h5>
              
                <input type=image src="../resources/facebook-3.png" width="30" height="30">

                <input type=image src="../resources/linkedin-5.png" width="30" height="30">

                <input type=image src="../resources/twitter.png" width="30" height="30">

            </div>
            <img id="empresa" src="{{oferta.imagenUrl}}">
        </div>
        <hr>
        <article id="margin">
            <div class="cuerpo">
                {{oferta.descripcion}}
            </div>
            <hr>
            <table class="resumen">
                <thead>
                    <th colspan="2">
                        <h4 id="resum">Resumen</h4>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Puesto:</td>
                        <td>{{oferta.nombre}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Empresa:</td>
                        <a id="anchor" target="_blank" href="{{oferta.web}}">
                            <td>{{oferta.empresa}}</td>
                        </a>
                    </tr>
                    <tr>
                        <td colspan="2">Ciudad:</td>
                        <td>{{oferta.ciudad}}</td>
                    </tr>
                    <tr>

                        <td colspan="2">Oferta:</td>
                        <td>{{oferta.tipoDeOferta}}</td>
                    </tr>
                </tbody>
            </table>
        </article>

        <div class="btn-group">
            <br>
            <br>
            <span><button [disabled]="desactivar" type="button" class="btn btn-success" (click)="aplicar()">Inscribirme</button></span>
            <span><button type="button" class="btn btn-primary" (click)="navegarAFormulario()">Editar oferta</button></span>
            <span><button type="button" class="btn btn-danger" (click)="eliminar(oferta)">Eliminar</button></span>
            <span><button type="button" class="btn btn-warning" (click)="bloquear()">Bloquear oferta</button></span>

            <div *ngIf="inscripcion" class="alert alert-success" role="alert">¡Gracias por inscribirte! Próximamente nos pondremos en contacto contigo.</div>

            <div *ngIf="bloqueo" class="alert alert-warning" role="alert">Lo sentimos, esta oferta ya no admite más inscripciones.</div>

            <br>
            <br>
        </div>
    </div>
</div>








<!--dar formato a la pagina donde se muestra la descripcion, igual que se hace donde se muestra la oferta-->
<!--poner un enlace en el nombre de la empresa que nos lleve a su pagina web-->