<!--<app-header></app-header>-->
<router-outlet></router-outlet>
<!--<app-pag-inicio></app-pag-inicio>-->
<div class="page-wrap">
    <footer class="site-footer">
        <br>
        <a class="image" href="https://github.com/betajobs/portal-empleo" target="_blank">

            <span id="logos"><a><img id="logo" alt="logo" src="..\assets\githubsrc.png"></a></span>
            <span id="logos"><a><img id="logo" alt="logo" src="..\assets\facebookblack.png"></a></span>
            <span id="logos"><a><img id="logo" alt="logo" src="..\assets\linkedin1.png"></a></span>
            <span id="logos"><a><img id="logo" alt="logo" src="..\assets\twitterwhote.png"></a></span>
            <br><br>
        </a>
        <p> BetaJobs diseño y construcción por Anabel, David, Mayra y Raquel - Derechos reservados <span id="copyBrand"><a><img id="copy" alt="copy" src="..\assets\copyriught.png"></a></span>            </p>

    </footer>
